skora_env/
node_modules/
__pycache__/
dataset/
HAM10000_images_part_1/
HAM10000_images_part_2/

*.keras
*.h5
*.pkl
*.pt
*.csv
*.zip

dist/
build/
.env
skora_tf_env/
node_modules/
dataset/
*.keras
*.h5
*.pkl
*.pt
*.csv
__pycache__/
dist/
build/
.env